:root {
  --primary-color: #d97e4a;
  --secondary-color: #1a1a1a;


  /* Text color  */
  --text-light: #808080;


  /* background-color */
  --bg-card-main: #f7f7f7;
  --bg-card-hover: #ececec;

  --bg-footer: #101010;

  /* spaces  */
  --space-x-small: 24px;
  --space-x-big: 40px;

  /* height */
  --height-nav: 10rem;

  --width-main: 1110px;
}