@use "src/scss/abstracts/mixins" as *;

.product {
  font-size: 1.3rem;

  padding-top: 7rem;

  &__preview {
    margin-bottom: 7rem;
  }

  &__features {
    @include respond(large){
      padding-right: 8rem;

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__featuresText {
    white-space: pre-line;
  }

  &__featuresMain {
    max-width: 70rem;
    margin-bottom: 7rem;

    @include respond(large){
      max-width: 60rem;
      margin-bottom: 0;
    }
  }

  &__featuresBox {
    display: flex;
    flex-direction: column;
    @include respond(small) {
      flex-direction: row;
      max-width: 50rem;
      justify-content: space-between;
    }

    @include respond(large) {
      flex-direction: column;
    }
  }
}

.inBox {
  @include respond(small-extra) {
    margin-top: 4rem;
  }
}

.inBox__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inBox__item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}

.inBox__text {
  display: inline-block;
}

.inBox__text--count {
  color: var(--primary-color);
  margin-right: 3rem;
}
