@use "src/scss/abstracts/mixins" as *;

.circles {
  position: relative;
  #{--width-circle}: 30rem;
  #{--double-size}: calc(var(--width-circle) * 1.25);

  @include respond(small) {
    #{--width-circle}: 33rem;
    #{--double-size}: calc(var(--width-circle) * 1.25);
  }

  @include respond(mid) {
    #{--width-circle}: 36rem;
    #{--double-size}: calc(var(--width-circle) * 1.25);
  }

  @include respond(large) {
    #{--width-circle}: 40rem;
    #{--double-size}: calc(var(--width-circle) - 5rem);
  }
}

.circle {
  position: absolute;
  border: 1px solid #f8c2a37e;
  background-color: transparent;
  border-radius: 50%;
  top: -2.5rem;
  left: 50%;
}

.circle-1 {
  width: var(--width-circle);
  height: var(--width-circle);
  transform: translateX(-50%);

  @include respond(large) {
    left: 30%;
  }
}

.circle-2 {
  width: calc(var(--width-circle) + 5rem);
  height: calc(var(--width-circle) + 5rem);
  transform: translateX(-50%) translateY(-2.5rem);
  @include respond(large) {
    left: 30%;
  }
}

.circle-3 {
  width: calc(var(--width-circle) + var(--double-size));
  height: calc(var(--width-circle) + var(--double-size));
  transform: translateX(-50%) translateY(calc(-1 * var(--double-size) / 2));

  @include respond(large) {
    left: 30%;
  }
}
