.counterBtn{
  padding: .5rem 1.5rem;
  height: 4.4rem;
  background-color: #f1f1f1;
  border-radius: 2px;
  font-size: 1.9rem;
  max-width: 13rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btn {
    cursor: pointer;
    padding: 5px 8px;
    transition: all .4s;
    font-size: 1.8rem;
    font-weight: 700;
    flex: 1;

    &:hover,
    &:active {
      color: var(--primary-color);
    }
  }

  &__input {
    width: 100%;
    background-color: inherit;
    border: unset;
    outline: none;
    text-align: center;
  }
}